@media (max-width: 776px) {
  .nav-section {
    display: block;
    width: 100vw;
    padding: 0;
  }

  .nav-content {
    display: block;
    position: relative;
    height: 64px;
  }

  .nav-logo{
    position: absolute;
    left: 28rem;
  }

  .nav-content .menu-items {
    padding-top: 100px;
    background-color: #74c5ceeb;
    height: 100vh;
    max-width: 206px;
    transform: translate(-110%);
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    padding-left: 53px;
    transition: transform 0.5s ease-in-out;
    /* opacity: 0; */
  }

  .nav-content .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }


.nav-content input[type="checkbox"],
.nav-content .hamburger-lines {
  display: block;
}

.nav-content input[type="checkbox"]{
  display: block;
  position: absolute;
  bottom: 1.2rem;
  left: .5rem;
  width: 50px;
  height: 40px;
  z-index: 7;
  opacity: 0;
}

.nav-content .hamburger-lines{
  display: block;
  position: absolute;
  bottom: .8rem;
  left: 1rem;
  z-index: 6;
}
  .burger-menu .hamburger-lines .line{
    display: block;
    width: 40px;
    height: 5px;
  }
  .burger-menu .hamburger-lines .line1{
    background-color: rgb(209, 118, 6);
    margin: 5px 5px 6px 0;
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    border-radius: 5px 5px 0 0;
  }
  .burger-menu .hamburger-lines .line2{
    background-color: rgb(82, 62, 38);
    margin: 5px 5px 5px 0;
    transition: transform 0.2s ease-in-out;
    border-radius: 2px;
  }
  .burger-menu .hamburger-lines .line3{
    background-color: rgb(209, 118, 6);
    margin: 6px 5px 5px 0;
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    border-radius: 0 0 5px 5px;
  }

  /* .nav-content input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  } */
  .nav-content input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
    background-color: red;
    border-radius: 2px;
     transition: transform 0.4s ease-in;
  }

  .nav-content input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-content input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
    background-color: red;
    border-radius: 2px;
    transition: transform 0.4s ease-in;
  } 
}

@media (max-width: 767px){
   .nav-content .menu-items{
    margin-left: -126px;
    max-width: 333px;
    padding-left: 126px;
   }
}

/* only logo  */
@media (min-width: 768px) and (max-width: 776px){
  .nav-logo{
    left: 39rem;
  }
  /* .contact-email {
    width: auto;
    align-items: center;
    margin-right: 0;
  }
  .contact-name {
    width: auto;
    margin-right: 0;
  }
  .msg-area {
    width: auto;
    margin-right: 0;
  } */
}
@media (max-width: 575px){
  .nav-logo{
    left: 29rem;
  }
}

@media (max-width: 560px){
  .nav-logo{
    left: 27.5rem;
  }
}
@media (max-width: 540px){
  .nav-logo{
    left: 27rem;
  }
}
@media (max-width: 525px){
  .nav-logo{
    left: 26rem;
  }
}
@media (max-width: 510px){
  .nav-logo{
    left: 24rem;
  }
}
@media (max-width: 480px){
  .nav-logo{
    left: 23rem;
  }
}
@media (max-width: 464px){
  .nav-logo{
    left: 22rem;
  }
}
@media (max-width: 450px){
  .nav-logo{
    left: 21rem;
  }
}
@media (max-width: 430px){
  .nav-logo{
    left: 20rem;
  }
}
@media (max-width: 415px){
  .nav-logo{
    left: 19rem;
  }
}
@media (max-width: 400px){
  .nav-logo{
    left: 18rem;
  }
}
@media (max-width: 380px){
  .nav-logo{
    left: 17rem;
  }
}
@media (max-width: 365px){
  .nav-logo{
    left: 16rem;
  }
}
@media (max-width: 350px){
  .nav-logo{
    left: 15rem;
  }
}
@media (max-width: 335px){
  .nav-logo{
    left: 14rem;
  }
}
@media (max-width: 320px){
  .nav-logo{
    left: 13rem;
  }
}
@media (max-width: 300px){
  .nav-logo{
    left: 12rem;
  }
}
@media (max-width: 285px){
  .nav-logo{
    left: 11rem;
  }
}
@media (max-width: 285px){
  .nav-logo{
    left: 10rem;
  }
}
@media (max-width: 250px){
  .nav-logo{
    left: 9rem;
  }
}
@media (max-width: 240px){
  .nav-logo{
    left: 8rem;
  }
}
@media (max-width: 220px){
  .nav-logo{
    left: 7rem;
  }
}




@media (min-width: 1201px) and (max-width: 1400px) {
  .map iframe {
    width: 35rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* about section  */
  .about-section .about-bio {
    margin-left: 4rem;
  }

  .about-section .about-paragraph h2 {
    font-size: 2.5rem;
  }
  .about-section .about-paragraph p {
    font-size: 1.5rem;
  }
  .about-section .about-img img {
    width: auto;
    height: auto;
  }

  /* first four info design  */
  .about-info-firsthalf {
    padding-top: 1.3rem;
  }

  .about-info-firsthalf .firsthalf-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .about-info-firsthalf .svgandtitle svg {
    margin-right: 0.5rem;
  }

  .about-info-firsthalf .birthday {
    margin-right: 3rem;
  }
  .about-info-firsthalf .study {
    margin-right: 5.4rem;
  }
  .about-info-firsthalf .location {
    margin-right: 1rem;
  }

  /* first four info design end  */

  /* second four info design start  */
  .about-info-secondhalf {
    padding-top: 1.3rem;
  }
  .about-info-secondhalf .secondhalf-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .about-info-secondhalf .svgandtitle svg {
    margin-right: 0.5rem;
  }

  .about-info-secondhalf .age {
    margin-right: 7.2rem;
  }
  .about-info-secondhalf .degree {
    margin-right: 4.3rem;
  }
  .about-info-secondhalf .interest {
    margin-right: 2.5rem;
  }
  .about-info-secondhalf .phone {
    margin-right: 2.8rem;
  }
  .download-cv {
    margin-top: 0;
  }

  .single-service-content {
    padding: 3rem;
  }

  .map iframe {
    width: 440px;
    height: 400px;
  }
  .submit-msg {
    margin-bottom: 2rem;
  }
}
@media (min-width: 776px) and (max-width: 991px) {
  .section-title span {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-title h2 {
    font-size: 28px;
    text-align: center;
  }

  .portfolio-section .portfolio-nav ul {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    font-size: 16px;
  }

  .portfolio-section .single-portfolio-content {
    display: flex;
    justify-content: center;
  }

  /* counter seciton */
  .counter-section {
    display: flex;
  }
  .counter-section .counter-content {
    margin-bottom: 70px;
  }
  .counter-section .counter-content h2 {
    font-size: 36px;
  }
  .counter-section .counter-content h3 {
    font-size: 20px;
  }

  .news-inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-section .about-img {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }

  .about-section .about-paragraph h2 {
    font-size: 2.5rem;
  }
  .about-section .about-paragraph p {
    font-size: 1.8rem;
    width: auto;
  }
  .about-section svg {
    width: 25px;
    height: 35px;
  }
  .svgandtitle span label {
    font-size: 1.5rem;
  }
  /* about firsthalf */

  .about-info-firsthalf .birthday {
    font-size: 1.4rem;
    margin-right: 5.2rem;
  }

  .about-info-firsthalf .study {
    margin-right: 8.2rem;
    font-size: 1.4rem;
  }

  .about-info-firsthalf .location {
    font-size: 1.4rem;
    margin-right: 2.4rem;
  }

  /* first half end  */

  /* about second half start  */

  .about-info-secondhalf {
    padding-top: 0;
  }
  .about-info-secondhalf .age {
    font-size: 1.4rem;
    margin-right: 9.8rem;
  }
  .about-info-secondhalf .degree {
    font-size: 1.4rem;
    margin-right: 6rem;
  }
  .about-info-secondhalf .interest {
    font-size: 1.4rem;
    margin-right: 3.7rem;
  }
  .about-info-secondhalf .phone {
    margin-right: 3.7rem;
    font-size: 1.4rem;
  }

  /* about second half end  */
  .download-cv {
    margin-bottom: 2rem;
  }
  .contact-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .contact-email {
    width: auto;
    margin-right: 0;
  }
  .contact-name {
    width: auto;
    margin-right: 0;
  }
  .msg-area {
    width: auto;
    margin-right: 0;
  }
  .map iframe {
    width: 44rem;
  }

  .submit-msg {
    margin-bottom: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 775px) {
  .section-title span {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-title h2 {
    font-size: 28px;
    text-align: center;
  }

  .home-section {
    height: auto;
  }
  .home-section .home-profile-img a img {
    width: 40vw;
    height: auto;
  }
  .arrow {
    bottom: -1rem;
  }
  /* about section  */

  .about-section .about-img {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }

  .about-section .about-paragraph h2 {
    font-size: 2rem;
  }
  .about-section .about-paragraph p {
    font-size: 1.5rem;
    width: auto;
  }
  .about-section svg {
    width: 25px;
    height: 35px;
  }
  .svgandtitle span label {
    font-size: 1.5rem;
  }

  /* about firsthalf */

  .about-info-firsthalf .birthday {
    font-size: 1.4rem;
    margin-right: 5.2rem;
  }

  .about-info-firsthalf .study {
    margin-right: 8.2rem;
    font-size: 1.4rem;
  }

  .about-info-firsthalf .location {
    font-size: 1.4rem;
    margin-right: 2.4rem;
  }

  /* first half end  */

  /* about second half start  */

  .about-info-secondhalf {
    padding-top: 0;
  }
  .about-info-secondhalf .age {
    font-size: 1.4rem;
    margin-right: 9.8rem;
  }
  .about-info-secondhalf .degree {
    font-size: 1.4rem;
    margin-right: 6rem;
  }
  .about-info-secondhalf .interest {
    font-size: 1.4rem;
    margin-right: 3.7rem;
  }
  .about-info-secondhalf .phone {
    margin-right: 3.7rem;
    font-size: 1.4rem;
  }

  /* about second half end  */
  .download-cv {
    margin-bottom: 2rem;
  }
  .svgandtitle {
    display: flex;
  }
  /* about section end  */

  .portfolio-section .portfolio-nav ul {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    font-size: 16px;
  }

  .portfolio-section .single-portfolio-content {
    display: flex;
    justify-content: center;
  }

  /* counter seciton */
  .counter-section .counter-content {
    margin-bottom: 65px;
  }
  .counter-section .counter-content h2 {
    font-size: 36px;
  }
  .counter-section .counter-content h3 {
    font-size: 20px;
  }
  /* news  */

  .news-inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* contact section start  */

  .contact-title span {
    display: flex;
    justify-content: center;
  }
  .contact-title h2 {
    text-align: center;
  }

  .contact-name {
    align-items: center;
    margin-right: 0;
  }
    #name {
    width: 32rem;
  }
  
    #email {
    width: 32rem;
  }
  
  .contact-email {
    align-items: center;
    margin-right: 0;
  }
  textarea{
    width: 32rem;
  }
  .msg-area {
    align-items: center;
    margin-right: 0;
  }

  .map iframe {
    width: 32rem;
    align-items: center;
    margin-right: 0;
    height: 400px;
  }
  .footer-social-link {
    width: auto;
    display: flex;
  }
  .submit-msg {
    margin-bottom: 2rem;
  }
}
@media (min-width: 440px) and (max-width: 575px) {
  .section-title span {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-title h2 {
    font-size: 25px;
    text-align: center;
  }
  /* home section start  */
  .home-section {
    width: 100vw;
    height: auto;
  }
  .home-section .home-profile-img a img {
    width: 40vw;
    height: auto;
  }
  .home-section .text-1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .home-section .text-2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  /* about section  */

  .about-section .about-img {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }

  .about-section .about-paragraph h2 {
    font-size: 2rem;
  }
  .about-section .about-paragraph p {
    font-size: 1.1rem;
    width: auto;
  }
  .about-section svg {
    width: 25px;
    height: 35px;
  }
  .svgandtitle span label {
    font-size: 1.5rem;
  }

  /* about firsthalf */

  .about-info-firsthalf .birthday {
    font-size: 1.4rem;
    margin-right: 5.2rem;
  }

  .about-info-firsthalf .study {
    margin-right: 8.2rem;
    font-size: 1.4rem;
  }

  .about-info-firsthalf .location {
    font-size: 1.4rem;
    margin-right: 2.4rem;
  }

  /* first half end  */

  /* about second half start  */

  .about-info-secondhalf {
    padding-top: 0;
  }
  .about-info-secondhalf .age {
    font-size: 1.4rem;
    margin-right: 9.8rem;
  }
  .about-info-secondhalf .degree {
    font-size: 1.4rem;
    margin-right: 6rem;
  }
  .about-info-secondhalf .interest {
    font-size: 1.4rem;
    margin-right: 3.7rem;
  }
  .about-info-secondhalf .phone {
    margin-right: 3.7rem;
    font-size: 1.4rem;
  }

  /* about second half end  */
  .download-cv {
    margin-bottom: 2rem;
  }
  .svgandtitle {
    display: flex;
  }
  /* about section end  */

  .portfolio-section .portfolio-nav ul {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    font-size: 16px;
  }

  .portfolio-section .single-portfolio-content {
    display: flex;
    justify-content: center;
  }

  /* counter seciton */
  .counter-section .counter-content {
    margin-bottom: 54px;
  }
  .counter-section .counter-content h2 {
    font-size: 36px;
  }
  .counter-section .counter-content h3 {
    font-size: 16px;
  }

  /* news  */

  .news-inner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* contact section start  */
  .contact-title span {
    display: flex;
    justify-content: center;
  }
  .contact-title h2 {
    text-align: center;
  }
  .contact-name {
    align-items: center;
    margin-right: 0;
  }
    #name {
    width: 26rem;
  }
  
    #email {
    width: 26rem;
  }
  
  .contact-email {
    align-items: center;
    margin-right: 0;
  }
  textarea{
    width: 26rem;
  }
  .msg-area {
    align-items: center;
    margin-right: 0;
  }
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }
  .map{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map iframe {
    width: 26rem;
    height: 400px;
  }
  .footer-social-link {
    width: auto;
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 439px) {
  /* common responsive style */

  /* nav section start  */

  .arrow {
    display: none;
  }

  /* home section start  */
  .home-section {
    width: 100vw;
    height: auto;
  }
  .home-section .home-profile-img a img {
    width: 60vw;
    height: auto;
  }
  .home-section .text-1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .home-section .text-2 {
    font-size: 1rem;
    font-weight: 400;
  }
  /* about section  */

  .about-section .about-img {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }

  .about-section .about-paragraph h2 {
    font-size: 2rem;
  }
  .about-section .about-paragraph p {
    font-size: 1rem;
    width: auto;
  }

  .svgandtitle span label {
    font-size: 1.2rem;
  }
  /* about firsthalf */

  .about-info-firsthalf .birthday {
    font-size: 1.2rem;
    margin-right: 5.2rem;
  }

  .about-info-firsthalf .study {
    margin-right: 7.8rem;
    font-size: 1.2rem;
  }

  .about-info-firsthalf .location {
    font-size: 1.2rem;
    margin-right: 2.7rem;
  }

  /* first half end  */

  /* about second half start  */

  .about-info-secondhalf {
    padding-top: 0;
  }
  .about-info-secondhalf .age {
    font-size: 1.2rem;
    margin-right: 9.2rem;
  }
  .about-info-secondhalf .degree {
    font-size: 1.2rem;
    margin-right: 5.9rem;
  }
  .about-info-secondhalf .interest {
    font-size: 1.2rem;
    margin-right: 3.9rem;
  }
  .about-info-secondhalf .phone {
    margin-right: 4rem;
    font-size: 1.2rem;
  }

  /* about second half end  */
  .download-cv {
    margin-bottom: 2rem;
  }
  .svgandtitle {
    display: flex;
  }

  /* about section end  */

  /* service section */
  .service-section .single-service-content {
    padding: 20px;
  }
  .service-section .single-service-content .service-inner-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .service-section .single-service-content .service-inner-text p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  /* portfolio section */
  .portfolio-section .portfolio-nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
  }
  /* counter seciton */
  .counter-section .counter-content {
    margin-bottom: 44px;
  }
  .counter-section .counter-content h2 {
    font-size: 36px;
  }
  .counter-section .counter-content h3 {
    font-size: 16px;
  }

  /* contact section start  */
  .contact-title span {
    display: flex;
    justify-content: center;
  }
  .contact-title h2 {
    text-align: center;
  }

  .contact-name {
    align-items: center;
    margin-right: 0;
  }
    #name {
    width: 18rem;
  }
  
    #email {
    width: 18rem;
  }
  
  .contact-email {
    align-items: center;
    margin-right: 0;
  }
  textarea{
    width: 18rem;
  }
  .msg-area {
    align-items: center;
    margin-right: 0;
  }

  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .map{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map iframe {
    width: auto;
    height: 400px;
  }
  .footer-social-link {
    width: auto;
    display: flex;
  }
}

@media (max-width: 320px) {
  .home-section {
    width: 100vw;
    height: auto;
  }
  .arrow {
    display: none;
  }

  .home-section .home-profile-img a img {
    width: 100vw;
    height: auto;
  }
  .home-section .text-1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  .home-section .text-2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .about-section .about-paragraph p {
    font-size: 1rem;
    width: auto;
  }

  .arrow {
    bottom: -8vh;
  }

  /* about info  */

  .about-info-firsthalf .birthday {
    font-size: 1rem;
    margin-right: 2.6rem;
  }

  .about-info-firsthalf .study {
    margin-right: 4.8rem;
    font-size: 1rem;
  }

  .about-info-firsthalf .location {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  /* first half end  */

  /* about second half start  */

  .about-info-secondhalf {
    padding-top: 0;
  }
  .about-info-secondhalf .age {
    font-size: 1rem;
    margin-right: 6rem;
  }
  .about-info-secondhalf .degree {
    font-size: 1rem;
    margin-right: 3.2rem;
  }
  .about-info-secondhalf .interest {
    font-size: 1rem;
    margin-right: 1.45rem;
  }
  .about-info-secondhalf .phone {
    margin-right: 1.5rem;
    font-size: 1rem;
  }
  /* about end  */

  /* portfolio  */

  .portfolio-section .portfolio-nav ul li {
    margin-right: 5px;
    margin-bottom: 1.7rem;
    font-size: 0.8rem;
  }

  .single-service-content {
    padding: 1.5rem;
  }

  .service-section .single-service-content .service-inner-text h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .service-section .single-service-content .service-inner-text p {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .counter-section {
    padding: 30px;
  }

  .map iframe {
    width: 93vw;
  }
  .about-section .about-img {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
  }

  .contact-name {
    width: 92vw;
    margin-right: 0;
  }
  .contact-email {
    width: 92vw;
    margin-right: 0;
  }
  .msg-area {
    width: 92vw;
    margin-right: 0;
  }

  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer-social-link {
    width: auto;
    display: flex;
  }
}
@media (max-width: 210px){
  .download-cv{
    padding: 13px 55px;
  }
  .submit-msg {
    padding: 13px 55px;
  }
}
@media (max-width: 195px){
  .download-cv{
    padding: 13px 45px;
  }
  .submit-msg {
    padding: 13px 45px;
  }
}
